# Компиляция
out/
*.class
build/

# Модели (везде)
models/
**/vosk-model-*/
*.mdl
*.fst

# Сборка и пакеты
myapp/
*.deb
*.rpm

# IDE
.idea/
*.iml
*.swp

# Временные
counter.txt
*.log
.DS_Store

# Библиотеки (если большие)
# lib/
